<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/> 
		<link rel="stylesheet" href="/css/index.css">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<title>{{ pageTitle }}</title>
    </head>
    <body>
    	<nav>
    		<a href="/"><h5>Home</h5></a>
    	</nav>

		{{ content }}

	</body>
</html>